body {
padding: 0;
margin: 0;
font-family: 'Barlow', sans-serif;
}
hr{
	width:33%;
}
.nav{
	height: 10vh;
}
.wrapper{
	height: 100%;
	width: 100%;
	padding: 0px 20px;
	min-width: 500px;
	min-height: 400px;
}

.about-header{
	margin-top: 30px;
}



.leftCol{
	height: 90vh;
	overflow-y: auto;
}

.rightCol{
	height: 90vh;
	overflow-y: auto;
}